*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Server
server/target/
server/*.tar
server/uploads/
server/.mvn/
server/*.log

*.iml
.gradle/
.gradle-local/
local.properties
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
/build/
/app/build/
